#root {
  width: 100%;
  height: 100%;
}

:root {
  --main-bg-color: #DAD5D3;
  --main-text-color: #606a8a;
  --main-text-color-darker: #3B4666;
  --pres-outer-container-bg-color: #2d354d;
  --pres-outer-container-text-color: white;
  --projects-bg-color: #2d354d;
  --projects-text-color: white;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-color);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}