.Cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #d9d5d2;
  color: #404040;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

/* .Cv > * {
  margin: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e3df;
  padding: 2rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
} */

.profilePic {
  height: 13rem;
  width: auto;
  border-radius: 50%;
  padding: 0;
  margin-bottom: 2rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.about, .education, .skills, .work {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  max-height: -webkit-fill-available;
}

.cvContainer {
  width: 30rem;
  padding: 2rem;
  background-color: #e6e3df;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.about p {
  line-height: 1.5;
}

.about h2,
.education h2,
.skills h2,
.work h2 {
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.education h3,
.work h3 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.skills h4,
.education h4,
.work h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.education h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.education h5:last-child {
  margin-bottom: 0.5rem;
}

/* -------------- Media queries -------------- */

@media (max-width: 850px) {
  .about h2,
  .skills h2,
  .education h2,
  .work h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .cvContainer {
    width: 80vw;
    padding: 1rem;
  }

  .about h2,
  .skills h2,
  .education h2,
  .work h2 {
    font-size: 1.3rem;
  }

  .profilePic {
    height: 7rem;
    width: auto;
  }

  .skills h3,
  .education h3,
  .work h3 {
    font-size: 1.2rem;
  }

  .skills h4,
  .education h4,
  .work h4 {
    font-size: 1rem;
    color: #0d0d0b;
  }

  .education h5 {
    font-size: .7rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .education h5:last-child {
    margin-bottom: 0.5rem;
  }
}
