.Cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #404040;
  margin-top: 8vh;
}

.Cv > * {
  margin: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CCC8C6;
  padding: 2rem;
}

.work {
  grid-area: work;
}

.education {
  grid-area: education;
}

.about {
  grid-area: about;
}

.resumeH2 {
  margin: 1rem 0 0 0;
  font-size: 1.8rem;
}

.resumeH2_2 {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.8rem;
}

.resumeH3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.4rem;
  font-weight: lighter;
}

.resumeH4 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: lighter;
}

.Brb {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

/* -------------- Media queries -------------- */

@media (max-width: 1200px) {
  .Cv {
    grid-template-areas:
      "education"
      "work"
      "about";
  }
}

@media (max-width: 650px) {
  .Cv > * {
    margin: 1rem 0 1rem 0;
    width: 70vw;
  }

  .resumeH2 {
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
  }
  
  .resumeH2_2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.3rem;
  }
  
  .resumeH3 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  
  .resumeH4 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    font-weight: lighter;
    color: #0d0d0b;
  }
}
