.Cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #D9D5D2;
  color: #404040;
}

.Cv > * {
  margin: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CCC8C6;
  padding: 2rem;
}

.profilePic {
  height: 10rem;
  width: auto;
  border-radius: 50%;
}

.education h2, .work h2 {
  margin: 1rem 0 0 0;
  font-size: 1.8rem;
}

.about h2 {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.8rem;
}

.about h4, .education h4, .work h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: lighter;
}

.education h3, .work h3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.4rem;
  font-weight: lighter;
}

/* -------------- Media queries -------------- */

@media (max-width: 1200px) {
  .Cv {
    grid-template-areas:
      "education"
      "work"
      "about";
  }
}

@media (max-width: 850px) {
  .education h2, .work h2 {
    margin: 1rem 0 0 0;
    font-size: 1.7rem;
  }

  .about h2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.7rem;
  }

  .about h2, .education h2, .work h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.3rem;
  }
}

@media (max-width: 650px) {
  .Cv > * {
    margin: 1rem 0 1rem 0;
    width: 70vw;
  }

  .profilePic {
    height: 10rem;
    width: auto;
  }

  .education h2, .work h2 {
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
  }
  
  .about h2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.3rem;
  }
  
  .about h3, .education h3, .work h3 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  
  .about h4, .education h4, .work h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    font-weight: lighter;
    color: #0d0d0b;
  }
}
