/*************** Presentation ***************/

.Presentation {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Italiana", serif;
  font-weight: 600;
}

.Container {
  width: 50%;
  height: 70%;
  background-image: url(../images/pattern2.jpg);
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.Container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--container-bg-color);
  opacity: 0.8;
}

/* John Rybo */
.Presentation h1 {
  font-size: 9rem;
  font-weight: 400;
  margin: 0;
  color: var(--container-text-color);
}

/* FRONTEND-UTVECKLARE */
.Presentation h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
  color: var(--container-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Scrolla vidare för att se mina projekt */
.Presentation p {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

/* Pil */
.Presentation span {
  font-size: 1.5rem;
}

/*************** Project ***************/

.ProjectGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--projects-bg-color);
  width: 100%;
}

.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--projects-text-color);
  width: 100%;
  height: 100vh;
}

.Project h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.projectImage {
  width: 40vw;
  height: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.projectLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project a {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: var(--projects-text-color);
}

.Line {
  font-size: 2rem;
}

/* -------------- Media queries -------------- */

@media (max-width: 1600px) {
  .Container {
    width: 50%;
  }

  .Presentation h1 {
    font-size: 6rem;
  }

  .Presentation h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .Presentation h1 {
    font-size: 5rem;
  }
}

@media (max-width: 950px) {
  .Presentation {
    justify-content: unset;
  }

  .Container {
    width: 60%;
    height: 50%;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .Presentation h1 {
    margin-top: 1.5rem;
  }

  .Presentation h2 {
    margin-bottom: 1.5rem;
  }

  .Project h2 {
    font-size: 2.5rem;
  }

  .Project a {
    font-size: 1.3rem;
  }

  .projectImage {
    width: 60vw;
  }
}

@media (max-width: 700px) {
  .Container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .Presentation h1 {
    font-size: 4rem;
  }

  .Presentation h2 {
    font-size: 1rem;
  }

  .Presentation p {
    margin-top: 2rem;
  }

  .projectImage {
    width: 85vw;
  }

  .Project h2 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .Project a {
    font-size: 1rem;
  }

  .Line {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .Presentation h1 {
    font-size: 3.3rem;
  }
}
