/*************** presentation ***************/

.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Italiana", serif;
  font-weight: 600;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  max-height: -webkit-fill-available;
}

.pres-outer-container {
  width: 50%;
  height: 65%;
  background-image: url(../images/pattern2.jpg);
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.pres-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--pres-outer-container-bg-color);
  opacity: 0.8;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* John Rybo */
.pres-h1 {
  font-size: 9rem;
  font-weight: 400;
  margin: 0;
  color: var(--pres-outer-container-text-color);
}

/* FRONTEND-UTVECKLARE */
.pres-h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
  color: var(--pres-outer-container-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Scrolla vidare för att se mina projekt */
.pres-p {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

/* Pil */
.pres-span {
  font-size: 1.5rem;
}

/*************** project ***************/

/* .projectGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--projects-bg-color);
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
} */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--projects-text-color);
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.project-title {
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.project-image {
  width: 40vw;
  height: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-a {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: var(--projects-text-color);
}

.line {
  font-size: 2rem;
}

/* -------------- Media queries -------------- */

@media (max-width: 1600px) {
  .pres-outer-container {
    width: 50%;
  }

  .pres-h1 {
    font-size: 6rem;
  }

  .pres-h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .pres-h1 {
    font-size: 5rem;
  }
}

@media (max-width: 950px) {
  .pres-outer-container {
    width: 60%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .pres-h1 {
    margin-top: 1.5rem;
  }

  .pres-h2 {
    margin-bottom: 1.5rem;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .project-a {
    font-size: 1.3rem;
  }

  .project-image {
    width: 60vw;
  }
}

@media (max-width: 700px) {
  .pres-outer-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .pres-h1 {
    font-size: 4rem;
  }

  .pres-h2 {
    font-size: 1rem;
  }

  .pres-p {
    margin-top: 2rem;
  }

  .project-image {
    width: 85vw;
  }

  .project h2 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .project-h2 {
    font-size: 1rem;
  }

  .line {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .pres-h1 {
    font-size: 3.3rem;
  }
}
