body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #51608C;
}

.App {
  display: grid;
  grid-template-areas:
  "header"
  "pres"
  "main";
  width: 100%;
}

/*************** Header ***************/

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  color: #8697A6;
  min-height: 8vh;
}

.Header a {
  text-decoration: none;
  color: #8697A6;
  font-size: 1.5rem;
  font-weight: 500;
}

.Header a:hover {
  color: #BFCDD9;
}

/*************** Main ***************/

.Main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0 5rem 0;
  background-color: #8C4F2B;
}

/*************** Presentation ***************/

.Presentation {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51608C;
  color: #BFCDD9;
  font-family: 'DM Serif Text', serif;
}

.profilePic {
  height: 10rem;
  width: auto;
  margin: 2rem;
  border-radius: 50%;
  animation: fadeIn1 2s;
}

.Presentation h1 {
  font-size: 10rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn1 2s;
}

.Presentation h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn2 2s;
}

.Presentation p {
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: .5rem;
}

.fa-arrow-down {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  animation: moveArrow 2s infinite;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveArrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 1.5rem;
  }
  100% {
    top: 0rem;
  }
}

/*************** Project ***************/

.Project {
  grid-area: project;
  margin: 1rem;
  background-color: #4D2B18;
  color: white;
  /* border-radius: 1rem 1rem 1rem 1rem; */
  box-shadow: 0 10px 6px -6px #3D2213;
}

.Project h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
}

.projectImage {
  width: auto;
  height: 15rem;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
}

/*************** Media queries ***************/

@media (max-width: 800px) {
  
  .profilePic {
    height: 8rem;
  }
  
  .Presentation h1 {
    font-size: 6rem;
  }

  .Presentation h2 {
    font-size: 2rem;
  }

  .Intro {
    font-size: 1rem;
  }

  .Project h2 {
    font-size: 1rem;
  }

}

@media (max-width: 500px) {
  
  .profilePic {
    height: 6rem;
  }

  .Presentation h1 {
    font-size: 4rem;
  }

  .Presentation h2 {
    font-size: 1.5rem;
  }
  
  .Main {
    max-width: 100%;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}
