body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #51608c;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "pres"
    "main";
  width: 100%;
}

/*************** Header ***************/

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #8697a6;
  height: 100%;
  width: 40%;
}

.Header a {
  text-decoration: none;
  color: #8697a6;
  font-size: 1.5rem;
  font-weight: 500;
}

.Header a:hover {
  color: #bfcdd9;
}

/*************** Main ***************/

.Main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0 5rem 0;
  background-color: #8c4f2b;
}

/*************** Presentation ***************/

.Presentation {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51608c;
  font-family: "DM Serif Text", serif;
  position: relative;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
  background-color: #394464;
}

.profilePic {
  height: 25%;
  width: auto;
  border-radius: 50%;
  animation: fadeIn1 2s;
  position: absolute;
  bottom: 30%;
  right: 15%;
}

.Presentation h1 {
  font-size: 10rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn1 2s;
  color: white;
}

.Presentation h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn2 2s;
  color: #bfcdd9;
}

.Presentation p {
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  color: #bfcdd9;
}

.fa-arrow-down {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  animation: moveArrow 2s infinite;
  color: #bfcdd9;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveArrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 1.5rem;
  }
  100% {
    top: 0rem;
  }
}

/*************** Project ***************/

.Project {
  grid-area: project;
  margin: 1rem;
  background-color: #4d2b18;
  color: white;
  /* border-radius: 1rem 1rem 1rem 1rem; */
  box-shadow: 0 10px 6px -6px #3d2213;
}

.Project h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
}

.projectImage {
  width: auto;
  height: 15rem;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
}

/*************** Media queries ***************/

@media (max-width: 1500px) {
  .Presentation h1 {
    font-size: 8rem;
  }

  .Presentation h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1100px) {
  .Presentation h1 {
    font-size: 6rem;
  }

  .Presentation h2 {
    font-size: 2rem;
  }

  .profilePic {
    height: 15%;
  }
}

@media (max-width: 800px) {

  .HeaderContainer {
    width: 80%;
  }

  .Container {
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .profilePic {
    height: 10rem;
    width: auto;
    position: unset;
    margin-bottom: 3rem;
    margin-top: 3rem;
    bottom: unset;
    right: unset;
  }

  .Presentation h1 {
    font-size: 6rem;
  }

  .Presentation h2 {
    font-size: 2rem;
  }

  .Intro {
    font-size: 1rem;
  }

  .Project h2 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .Presentation {
    justify-content: unset;
  }

  .Presentation h1 {
    font-size: 4rem;
  }

  .Presentation h2 {
    font-size: 1.5rem;
  }
  
  .Presentation p {
    margin-top: 2rem;
  }

  .Main {
    max-width: 100%;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}
