body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #666;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

/*************** Header ***************/

.Header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ede4;
  color: #333;
  font-family: 'DM Serif Text', serif;
}

.profilePic {
  height: 10rem;
  width: auto;
  border-radius: 50%;
  animation: fadeIn1 2s;
}

.Header h1 {
  font-size: 10rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn1 2s;
}

.Header h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  animation: fadeIn2 2s;
}

.Header p {
  font-size: 1rem;
  margin-top: 5rem;
  margin-bottom: .5rem;
}

.fa-arrow-down {
  position: relative;
  font-size: 1rem;
  animation: moveArrow 2s infinite;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveArrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 1.5rem;
  }
  100% {
    top: 0rem;
  }
}

/*************** Intro ***************/

.Intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333;
  color: white;
  height: 10vh;
}

.Intro a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.Intro a:hover {
  color: #D9D4CC;
}

/*************** Main ***************/

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

/*************** Project ***************/

.Project {
  margin: 1rem;
  background-color: #F2EDE4;
  color: #333;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0 10px 6px -6px #333;
}

.Project h2 {
  font-size: 1.5rem;
}

.projectImage {
  width: auto;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*************** Media queries ***************/

@media (max-width: 800px) {
  
  .profilePic {
    height: 8rem;
  }
  
  .Header h1 {
    font-size: 6rem;
  }

  .Header h2 {
    font-size: 2rem;
  }

  .Intro {
    font-size: 1rem;
  }

  .Project h2 {
    font-size: 1rem;
  }

}

@media (max-width: 500px) {
  
  .profilePic {
    height: 6rem;
  }

  .Header h1 {
    font-size: 4rem;
  }

  .Header h2 {
    font-size: 1.5rem;
  }
  
  .Main {
    max-width: 100%;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}
