.Cv {
  display: grid;
  grid-template-areas:
    "education work"
    "education about";
  min-height: 92vh;
  width: 100%;
  color: #BFCDD9;
}

.work {
  grid-area: work;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51608C;
}

.education {
  grid-area: education;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51608C;
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #51608C;
}

.Cv > * {
  padding: 2rem;
}

.resumeH2 {
  margin: 1rem 0 0 0;
  font-size: 2rem;
}

.resumeH2_2 {
  margin: 1rem 0 1.5rem 0;
  font-size: 2rem;
}

.resumeH3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}

.resumeH4 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  color: #8697A6;
}

@media (max-width: 850px) {
  .Cv {
    grid-template-areas:
    "education"
    "work"
    "about";
  }

  .Cv > * {
    padding: 1rem;
  }

  .resumeH2 {
    margin: 1rem 0 0 0;
    font-size: 1.7rem;
  }
  
  .resumeH2_2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.7rem;
  }

  .resumeH3 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.3rem;
  }
}
